.articles {
  float: left;
  width: 50%;
}
.books {
  float: right;
  width: 50%;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #919777;
  padding: 20px;
  overflow: auto;
}

body {
  background-color: #4e6150;
}

@media(min-width:600) {
}

}
