
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #919777;
  padding: 20px;
  overflow: auto;
}

body {
  background-color: #4e6150;
}
@media screen and (min-width:650px) {
.articles {
  float: left;
  width: 45%;
  padding-right: 2px;
}
.books {
  float: right;
  width: 45%;
  padding-left: 2px;
}
}
